@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b3c0a4;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  color: #27233a;
}

.box {
  background-color: #505168;
  color: #dcc48e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #505168;
  transform: translateX(300%);
  transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-300%);
  background-color: #27233a;
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 42px;
}
